#heading{
    background-color: rgba(167, 166, 166, 0.518);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#timeline{
    margin-left: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tribute-info{
    background-color: rgba(158, 157, 157, 0.527);
}
ul{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
    line-height: 1.6;
}

#Quote{
    font-style: italic;
}
#image{
    display:block
}
